/* 4.2.20 */
/* .main 4.30.20 */
/* Body */
body {
  background-color: #ffffff;
  background-image: url('../index_1.html');
  background-position: center center;
  color: #556770;
  font-size: 16px;
  font-weight: 300;
  font-family: "museo-sans", "museo-sans-rounded", "Helvetica Neue", "Helvetica", Helvetica, Arial, sans-serif;
  line-height: 23px;
  text-transform: none;
}
.ccm-page {
  padding-top: 0;
  padding-bottom: 0;
}
.ccm-page {
  /*
	.row,
	.contain-to-grid .top-bar {
		max-width: @body-width-size;
	}
	*/
  /* Typography */
  /* Off Canvas Navigation */
  /* Navigation */
  /* Off Canvas Navigation */
  /* Buttons */
  /* Top Section */
  /* Branding Section */
  /* Header */
  /* Banner */
  /* Main */
  /* Footer */
}
.ccm-page .column,
.ccm-page .columns {
  padding-left: 15px;
  padding-right: 15px;
}
.ccm-page .row .row {
  margin: 0 -15px;
}
.ccm-page p {
  color: #556770;
  font-size: 16px;
  font-weight: 300;
  font-family: "museo-sans", "museo-sans-rounded", "Helvetica Neue", "Helvetica", Helvetica, Arial, sans-serif;
  line-height: 23px;
  text-transform: none;
}
.ccm-page p a {
  text-decoration: underline;
}
.ccm-page a {
  color: #004A9A;
  text-transform: none;
}
.ccm-page a:hover,
.ccm-page a:focus {
  color: #0063cd;
}
.ccm-page ul,
.ccm-page ol {
  font-size: 16px;
  font-weight: 300;
  font-family: "museo-sans", "museo-sans-rounded", "Helvetica Neue", "Helvetica", Helvetica, Arial, sans-serif;
  line-height: 23px;
  text-transform: none;
}
.ccm-page li a {
  text-decoration: underline;
}
@media only screen and (min-width: 40.063em) {
  .ccm-page h1 {
    font-size: 4rem;
    line-height: 4.2rem;
  }
  .ccm-page h2 {
    font-size: 2.75rem;
    line-height: 3.2rem;
  }
  .ccm-page h3 {
    font-size: 2rem;
    line-height: 2.8rem;
  }
  .ccm-page h4 {
    font-size: 1.75rem;
    line-height: 2.2rem;
  }
  .ccm-page h5 {
    font-size: 1.5rem;
    line-height: 1.8rem;
  }
  .ccm-page h6 {
    font-size: 1.25rem;
    line-height: 1.6rem;
  }
}
.ccm-page h1 {
  color: #004A9A;
  font-weight: 300;
  font-family: "museo-sans", "museo-sans-rounded", "Helvetica Neue", "Helvetica", Helvetica, Arial, sans-serif;
  text-transform: none;
}
.ccm-page h2 {
  color: #004A9A;
  font-weight: 300;
  font-family: "museo-sans", "museo-sans-rounded", "Helvetica Neue", "Helvetica", Helvetica, Arial, sans-serif;
  text-transform: none;
}
.ccm-page h3 {
  color: #004A9A;
  font-weight: 300;
  font-family: "museo-sans", "museo-sans-rounded", "Helvetica Neue", "Helvetica", Helvetica, Arial, sans-serif;
  text-transform: none;
}
.ccm-page h4 {
  color: #004A9A;
  font-weight: 300;
  font-family: "museo-sans", "museo-sans-rounded", "Helvetica Neue", "Helvetica", Helvetica, Arial, sans-serif;
  text-transform: none;
}
.ccm-page h5 {
  color: #004A9A;
  font-weight: 300;
  font-family: "museo-sans", "museo-sans-rounded", "Helvetica Neue", "Helvetica", Helvetica, Arial, sans-serif;
  text-transform: none;
}
.ccm-page h6 {
  color: #004A9A;
  font-weight: 300;
  font-family: "museo-sans", "museo-sans-rounded", "Helvetica Neue", "Helvetica", Helvetica, Arial, sans-serif;
  text-transform: none;
}
.ccm-page nav.tab-bar {
  background-color: transparent;
}
.ccm-page nav.tab-bar h1.title a {
  color: #001863;
  font-size: 1rem;
  font-weight: 400;
  font-family: "museo-sans", "museo-sans-rounded", "Helvetica Neue", "Helvetica", Helvetica, Arial, sans-serif;
  text-transform: none;
  position: relative;
  z-index: 10;
}
.ccm-page .tab-bar img {
  max-height: 5rem;
  width: auto;
}
.ccm-page ul.side-nav ul.dropdown {
  list-style: none;
}
.ccm-page ul.side-nav ul.dropdown li {
  margin-left: 20px;
}
.ccm-page .c5h-page-list-masonry-content-inner {
  box-shadow: 0px 0px 0px 0px rgba(85, 103, 112, 0.5);
}
.ccm-page .top-bar,
.ccm-page .contain-to-grid,
.ccm-page .top-bar.expanded .title-area {
  background-color: #ffffff;
}
.ccm-page ul li ul.dropdown,
.ccm-page .top-bar-section ul.left,
.ccm-page .top-bar-section ul.right,
.ccm-page .top-bar-section ul.center {
  margin-left: 0;
}
.ccm-page .top-bar .name h1 a {
  color: #001863;
  font-size: 1rem;
  font-weight: 400;
  font-family: "museo-sans", "museo-sans-rounded", "Helvetica Neue", "Helvetica", Helvetica, Arial, sans-serif;
  text-transform: none;
  position: relative;
  z-index: 10;
}
.ccm-page .top-bar-section li a:not(.button),
.ccm-page .top-bar-section li:not(.has-form) a:not(.button),
.ccm-page .top-bar-section ul li:hover:not(.has-form) > a {
  color: #001863;
  font-size: 1rem;
  font-weight: 400;
  font-family: "museo-sans", "museo-sans-rounded", "Helvetica Neue", "Helvetica", Helvetica, Arial, sans-serif;
  text-transform: none;
  background-color: transparent;
}
.ccm-page .top-bar-section ul li {
  background-color: transparent;
}
.ccm-page .top-bar-section li:not(.has-form) a:hover:not(.button),
.ccm-page .c5h-wrapper .top-bar-section ul li:hover > a {
  color: #FF8E1B;
  font-size: 1.1rem;
  font-weight: 400;
  font-family: "museo-sans", "museo-sans-rounded", "Helvetica Neue", "Helvetica", Helvetica, Arial, sans-serif;
  text-transform: none;
  background-color: transparent;
}
.ccm-page .top-bar-section li.active:not(.has-form) > a:not(.button),
.ccm-page .top-bar-section li.active:not(.has-form) > a:hover:not(.button) {
  color: #FF8E1B;
  font-size: 1.1rem;
  font-weight: 400;
  font-family: "museo-sans", "museo-sans-rounded", "Helvetica Neue", "Helvetica", Helvetica, Arial, sans-serif;
  text-transform: none;
  background-color: transparent;
}
.ccm-page .top-bar .toggle-topbar.menu-icon a span:after,
.ccm-page .top-bar .toggle-topbar.menu-icon a span:hover:after {
  box-shadow: 0 0 0 1px #001863, 0 7px 0 1px #001863, 0 14px 0 1px #001863;
}
.ccm-page .top-bar .toggle-topbar.menu-icon a {
  color: #001863;
}
.ccm-page .top-bar-section .dropdown li.title h5 a,
.ccm-page .top-bar-section .dropdown li.title h5 a:hover {
  color: #001863;
  text-transform: uppercase;
}
.ccm-page .top-bar-section .dropdown li.parent-link a,
.ccm-page .top-bar-section .dropdown li.parent-link a:hover {
  color: #001863;
  font-weight: 700;
}
.ccm-page .top-bar-section .dropdown li:not(.has-form):not(.active) > a:not(.button) {
  color: #556770;
  font-size: 0.9rem;
  font-weight: 400;
  font-family: "museo-sans", "museo-sans-rounded", "Helvetica Neue", "Helvetica", Helvetica, Arial, sans-serif;
  text-transform: none;
  background-color: transparent;
}
.ccm-page .top-bar-section .dropdown li:not(.has-form):not(.active):hover > a:not(.button) {
  color: #FF8E1B;
  font-size: 0.9rem;
  font-weight: 400;
  font-family: "museo-sans", "museo-sans-rounded", "Helvetica Neue", "Helvetica", Helvetica, Arial, sans-serif;
  text-transform: none;
  background-color: transparent;
}
.ccm-page .top-bar-section .dropdown li.active:not(.has-form) > a:not(.button) {
  color: #FF8E1B;
  font-size: 0.9rem;
  font-weight: 400;
  font-family: "museo-sans", "museo-sans-rounded", "Helvetica Neue", "Helvetica", Helvetica, Arial, sans-serif;
  text-transform: none;
  background-color: transparent;
}
@media only screen and (min-width: 50.0625em) {
  .ccm-page {
    /* Navigation */
  }
  .ccm-page .top-bar-section .has-dropdown > a:after {
    border-color: rgba(0, 24, 99, 0.5) transparent transparent;
  }
  .ccm-page .fixed.expanded:not(.top-bar) .top-bar-section {
    margin-top: 140px;
  }
  .ccm-page .top-bar {
    height: 140px;
    line-height: 140px;
  }
  .ccm-page .top-bar .name {
    height: 140px;
  }
  .ccm-page .top-bar .name h1 {
    line-height: 140px;
  }
  .ccm-page .top-bar-section > li a:not(.button) {
    line-height: 140px;
  }
  .ccm-page .top-bar-section > ul > .divider,
  .ccm-page .top-bar-section > ul > [role="separator"] {
    height: 140px;
    border-right-color: #004A9A;
    border-right-width: 0px;
  }
  .ccm-page .top-bar-section .has-form {
    height: 140px;
  }
  .ccm-page .top-bar-section .has-form p {
    line-height: 140px;
  }
  .ccm-page .top-bar button,
  .ccm-page .top-bar .button {
    height: 37px;
    line-height: 37px;
    padding-top: 0;
    padding-bottom: 0;
  }
  .ccm-page .top-bar input,
  .ccm-page .top-bar button,
  .ccm-page .top-bar .button {
    top: 103px/2;
    margin-bottom: 0;
  }
  .ccm-page .top-bar-section .has-dropdown > a:after {
    top: 140px ../index_1.html 2;
  }
  .ccm-page .c5h-navigation-wrap {
    background-color: transparent;
    background-image: url('../index_1.html');
    background-position: center center;
    color: #ffffff;
    padding-top: 0px;
    padding-bottom: 0px;
  }
  .ccm-page section.top-bar-section ul {
    margin-bottom: 0;
  }
  .ccm-page .top-bar-wrapper.fixed {
    box-shadow: 0px 0px 0px 0px transparent;
  }
  .ccm-page .top-bar-section ul,
  .ccm-page .top-bar-section ul li a:not(.button) {
    background-color: transparent;
  }
  .ccm-page .top-bar .logo {
    height: 140px;
    width: auto;
  }
  .ccm-page .top-bar .logo a {
    line-height: 140px;
  }
  .ccm-page .top-bar .logo a img {
    width: auto;
  }
  .ccm-page .top-bar li.name a img {
    max-height: 140px;
    width: auto;
    float: left;
  }
  .ccm-page .top-bar li.name a h1 {
    line-height: 140px;
    float: left;
    color: #001863;
    font-size: 1rem;
    font-weight: 400;
    font-family: "museo-sans", "museo-sans-rounded", "Helvetica Neue", "Helvetica", Helvetica, Arial, sans-serif;
    text-transform: none;
  }
  .ccm-page .top-bar-wrapper {
    padding-top: 0;
    padding-bottom: 0;
  }
  .ccm-page .top-bar-section {
    text-align: center;
    display: block;
    max-height: 140px;
  }
  .ccm-page .top-bar-section ul.left {
    text-align: left;
  }
  .ccm-page .top-bar-section ul.center {
    text-align: center;
  }
  .ccm-page .top-bar-section ul.right {
    text-align: left;
  }
  .ccm-page .top-bar-section li a:not(.button),
  .ccm-page .top-bar-section li:not(.has-form) a:not(.button),
  .ccm-page .top-bar-section ul li:hover:not(.has-form) > a,
  .ccm-page .top-bar-section ul li:hover:not(.has-form) > p a,
  .ccm-page .top-bar-section ul li:not(.has-form) > ul.dropdown {
    padding-left: 15px;
    padding-right: 15px;
  }
  .ccm-page .top-bar-section > ul > li > a {
    border-radius: 0;
  }
  .ccm-page .top-bar-section ul.dropdown li a.nav-first {
    border-radius: 0/2 0/2 0 0;
  }
  .ccm-page .top-bar-section ul.dropdown li a.nav-last {
    border-radius: 0 0 0/2 0/2;
  }
  .ccm-page .top-bar-section ul.dropdown li a.nav-first.nav-last {
    border-radius: 0/2 0/2;
  }
  .ccm-page .top-bar-section > ul > li {
    margin-left: 0/2;
    margin-right: 0/2;
  }
  .ccm-page .top-bar-section .has-dropdown > a {
    padding-right: 15px !important;
  }
  .ccm-page .top-bar-section .has-dropdown > a:after {
    margin-right: 15px;
  }
  .ccm-page .top-bar-section ul.center {
    display: inline-block;
    float: none;
  }
  .ccm-page .top-bar-section ul li.divider:first-child,
  .ccm-page .top-bar-section ul li.divider:last-child {
    display: none;
  }
  .ccm-page .branding-left {
    float: left;
  }
  .ccm-page .branding-right {
    float: right;
  }
}
@media only screen and (max-width: 40em) {
  .ccm-page {
    /* Off Canvas Navigation */
  }
  .ccm-page .top-bar .logo img {
    max-height: 45px;
    width: auto;
  }
  .ccm-page .top-bar li.name a img {
    max-height: 45px;
    width: auto;
    float: left;
  }
  .ccm-page .top-bar li.name a h1 {
    line-height: 45px;
    float: left;
  }
  .ccm-page .top-bar-section .has-dropdown > a:after {
    border-color: transparent transparent transparent rgba(0, 24, 99, 0.5);
  }
  .ccm-page .top-bar-section ul.center {
    float: left;
    text-align: left;
  }
  .ccm-page .top-bar .toggle-topbar a:hover,
  .ccm-page .top-bar .toggle-topbar a:focus {
    text-transform: uppercase;
    font-weight: 700;
  }
  .ccm-page .top-bar ul.title-area {
    width: 100%;
  }
  .ccm-page .top-bar-section > ul > .divider,
  .ccm-page .top-bar-section > ul > [role="separator"] {
    border-top: 0px solid transparent;
    border-top-color: #004A9A;
    border-top-width: 0px;
  }
  .ccm-page .tab-bar img {
    max-height: 45px;
    width: auto;
  }
  .ccm-page .right-small {
    border-left-color: #ffffff;
    border-left-width: 0px;
  }
  .ccm-page .left-small {
    border-right-color: #ffffff;
    border-right-width: 0px;
  }
}
.ccm-page nav.tab-bar .menu-icon span:after {
  box-shadow: 0 0 0 1px #001863, 0 7px 0 1px #001863, 0 14px 0 1px #001863;
}
.ccm-page nav.tab-bar .menu-icon {
  color: #001863;
}
.ccm-page .right-off-canvas-menu,
.ccm-page .left-off-canvas-menu,
.ccm-page .right-submenu,
.ccm-page .left-submenu {
  background-color: #004A9A;
}
.ccm-page ul.off-canvas-list li a {
  border-bottom: 0px solid #ffffff;
  color: #ffffff;
  background: transparent;
  font-size: 1rem;
  font-weight: 400;
  font-family: "museo-sans", "museo-sans-rounded", "Helvetica Neue", "Helvetica", Helvetica, Arial, sans-serif;
  text-transform: none;
  display: block;
  padding: 0.66667rem;
  transition: background 300ms ease 0s;
}
.ccm-page ul.off-canvas-list li a:hover {
  background: transparent;
  color: #FFCE00;
  font-size: 1rem;
  font-weight: 400;
  font-family: "museo-sans", "museo-sans-rounded", "Helvetica Neue", "Helvetica", Helvetica, Arial, sans-serif;
  text-transform: none;
}
.ccm-page ul.off-canvas-list li a.active {
  background: transparent;
  color: #FFCE00;
  font-size: 1rem;
  font-weight: 400;
  font-family: "museo-sans", "museo-sans-rounded", "Helvetica Neue", "Helvetica", Helvetica, Arial, sans-serif;
  text-transform: none;
}
.ccm-page .right-submenu .back > a,
.ccm-page .left-submenu .back > a {
  background: transparent;
  color: #FFCE00;
  font-size: 1rem;
  font-weight: 400;
  font-family: "museo-sans", "museo-sans-rounded", "Helvetica Neue", "Helvetica", Helvetica, Arial, sans-serif;
  text-transform: none;
}
.ccm-page .right-submenu .back > a:hover,
.ccm-page .left-submenu .back > a:hover {
  background: #ffd31a;
  color: #ffffff;
  font-size: 1rem;
  font-weight: 400;
  font-family: "museo-sans", "museo-sans-rounded", "Helvetica Neue", "Helvetica", Helvetica, Arial, sans-serif;
  text-transform: none;
}
.ccm-page button,
.ccm-page .button {
  color: #ffffff;
  font-weight: 400;
  font-family: "museo-sans", "museo-sans-rounded", "Helvetica Neue", "Helvetica", Helvetica, Arial, sans-serif;
  text-transform: none;
  background: #004A9A;
  border-color: #004A9A;
}
.ccm-page button:hover,
.ccm-page button:focus,
.ccm-page .button:hover,
.ccm-page .button:focus {
  background-color: #0056b3;
  border-color: #0056b3;
  color: #ffffff;
  font-weight: 400;
  font-family: "museo-sans", "museo-sans-rounded", "Helvetica Neue", "Helvetica", Helvetica, Arial, sans-serif;
  text-transform: none;
}
.ccm-page .hs-button.primary,
.ccm-page input[type="submit"],
.ccm-page input[type="button"],
.ccm-page button.secondary,
.ccm-page .button.secondary {
  color: #ffffff;
  font-weight: 400;
  font-family: "museo-sans", "museo-sans-rounded", "Helvetica Neue", "Helvetica", Helvetica, Arial, sans-serif;
  text-transform: none;
  background-color: #FF8E1B;
  border-color: #FF8E1B;
}
.ccm-page .hs-button.primary:hover,
.ccm-page input[type="submit"]:hover,
.ccm-page input[type="button"]:hover,
.ccm-page .hs-button.primary:focus,
.ccm-page input[type="submit"]:focus,
.ccm-page input[type="button"]:focus,
.ccm-page button.secondary:hover,
.ccm-page button.secondary:focus,
.ccm-page .button.secondary:hover,
.ccm-page .button.secondary:focus {
  background-color: #ff9b35;
  border-color: #ff9b35;
  color: #ffffff;
  font-weight: 400;
  font-family: "museo-sans", "museo-sans-rounded", "Helvetica Neue", "Helvetica", Helvetica, Arial, sans-serif;
  text-transform: none;
}
.ccm-page button.success,
.ccm-page .button.success {
  color: #ffffff;
  font-weight: 400;
  font-family: "museo-sans", "museo-sans-rounded", "Helvetica Neue", "Helvetica", Helvetica, Arial, sans-serif;
  text-transform: none;
  background-color: #00852E;
  border-color: #ffffff;
  border-top: 0px solid #ffffff !important;
  border-right: 0px solid #ffffff !important;
  border-bottom: 0px solid #ffffff !important;
  border-left: 0px solid #ffffff !important;
}
.ccm-page button.success:hover,
.ccm-page button.success:focus,
.ccm-page .button.success:hover,
.ccm-page .button.success:focus {
  background-color: #009f37;
  color: #ffffff;
  font-weight: 400;
  font-family: "museo-sans", "museo-sans-rounded", "Helvetica Neue", "Helvetica", Helvetica, Arial, sans-serif;
  text-transform: none;
  border-top: 0px solid #ffffff !important;
  border-right: 0px solid #ffffff !important;
  border-bottom: 0px solid #ffffff !important;
  border-left: 0px solid #ffffff !important;
}
.ccm-page button.alert,
.ccm-page .button.alert {
  color: #ffffff;
  font-weight: 400;
  font-family: "museo-sans", "museo-sans-rounded", "Helvetica Neue", "Helvetica", Helvetica, Arial, sans-serif;
  text-transform: none;
  background-color: #F41F2B;
  border-color: #F41F2B;
}
.ccm-page button.alert:hover,
.ccm-page button.alert:focus,
.ccm-page .button.alert:hover,
.ccm-page .button.alert:focus {
  background-color: #f53742;
  border-color: #f53742;
  color: #ffffff;
  font-weight: 400;
  font-family: "museo-sans", "museo-sans-rounded", "Helvetica Neue", "Helvetica", Helvetica, Arial, sans-serif;
  text-transform: none;
}
.ccm-page nav.tab-bar,
.ccm-page section.tab-bar-section,
.ccm-page nav.tab-bar .right-small,
.ccm-page nav.tab-bar .left-small,
.ccm-page nav.tab-bar .menu-icon {
  height: 5rem;
  line-height: 5rem;
}
.ccm-page .tab-bar h1.title {
  line-height: 5rem;
}
@media only screen and (min-width: 40.063em) {
  .ccm-page {
    /* Off Canvas Navigation */
  }
  .ccm-page nav.tab-bar .right-small {
    border-left-color: #ffffff;
    border-left-width: 0px;
  }
  .ccm-page nav.tab-bar .left-small {
    border-right-color: #ffffff;
    border-right-width: 0px;
  }
}
.ccm-page div.top-section {
  background-color: transparent;
  background-image: url('../index_1.html');
  background-position: center center;
  color: #556770;
  padding-top: 0px;
  padding-bottom: 0px;
}
.ccm-page div.top-section *:last-child {
  margin-bottom: 0;
}
.ccm-page div.branding {
  background-color: transparent;
  background-image: url('../index_1.html');
  background-position: center center;
  color: #556770;
  padding-top: 0px;
  padding-bottom: 0px;
}
.ccm-page header {
  background-color: #ffffff;
  background-image: url('../images/bg_title_flubble_blue.jpg');
  background-position: center top;
  color: #ffffff;
  padding-top: 0px;
  padding-bottom: 0px;
}
.ccm-page .c5h-banner-wrap {
  background-color: transparent;
  background-image: url('../index_1.html');
  background-position: center center;
  color: #556770;
  padding-top: 0px;
  padding-bottom: 0px;
}
.ccm-page .c5h-banner-wrap-full {
  background-color: transparent;
  background-image: url('../index_1.html');
  background-position: center center;
  color: #556770;
  padding-top: 0px;
  padding-bottom: 0px;
}
.ccm-page .c5h-page-meta-wrap {
  background-color: #004A9A;
  background-image: url('../images/bg_title_flubble_blue.jpg');
  padding-top: 0;
  padding-bottom: 0;
}
.ccm-page .c5h-page-meta-wrap h1 {
  color: #ffffff;
  font-size: 40px;
  font-weight: 300;
  font-family: "museo-sans", "museo-sans-rounded", "Helvetica Neue", "Helvetica", Helvetica, Arial, sans-serif;
  text-transform: none;
  margin-top: 0;
}
.ccm-page .c5h-page-meta-wrap h4 {
  color: #ffffff;
  font-size: 1rem;
  font-weight: 400;
  font-family: "museo-sans", "museo-sans-rounded", "Helvetica Neue", "Helvetica", Helvetica, Arial, sans-serif;
  text-transform: none;
  margin-bottom: 0;
}
.ccm-page .main-wrap {
  padding-top: 0px;
  padding-bottom: 0px;
  background-color: #ffffff;
  background-image: url('../index_1.html');
  background-position: center center;
  box-shadow: 0px 0px 0px 0px rgba(85, 103, 112, 0.005);
  max-width: 73.125rem;
  margin-left: auto;
  margin-right: auto;
  margin-top: 0px;
  margin-bottom: 0px;
}
.ccm-page footer {
  background-color: #FEF0E1;
  background-image: url('../images/bg_flubble_orange_light.jpg');
  background-position: center center;
  color: #222222;
}
.ccm-page .c5h-footer-top-wrap {
  color: #222222;
  padding-top: 60px;
  padding-bottom: 30px;
}
.ccm-page .c5h-footer-top-wrap p,
.ccm-page .c5h-footer-top-wrap h1,
.ccm-page .c5h-footer-top-wrap h2,
.ccm-page .c5h-footer-top-wrap h3,
.ccm-page .c5h-footer-top-wrap h4,
.ccm-page .c5h-footer-top-wrap h5,
.ccm-page .c5h-footer-top-wrap h6,
.ccm-page .c5h-footer-top-wrap li,
.ccm-page .c5h-footer-top-wrap ol,
.ccm-page .c5h-footer-top-wrap blockquote {
  color: #222222;
}
.ccm-page .c5h-footer-top-wrap a {
  color: #004A9A;
}
.ccm-page .c5h-footer-top-wrap a:hover {
  color: #0063cd;
}
.ccm-page .c5h-footer-bottom-wrap {
  background-color: transparent;
  background-image: url('../index_1.html');
  background-position: center center;
  color: #222222;
  padding-top: 0px;
  padding-bottom: 60px;
}
.ccm-page .c5h-footer-bottom-wrap p,
.ccm-page .c5h-footer-bottom-wrap h1,
.ccm-page .c5h-footer-bottom-wrap h2,
.ccm-page .c5h-footer-bottom-wrap h3,
.ccm-page .c5h-footer-bottom-wrap h4,
.ccm-page .c5h-footer-bottom-wrap h5,
.ccm-page .c5h-footer-bottom-wrap h6,
.ccm-page .c5h-footer-bottom-wrap li,
.ccm-page .c5h-footer-bottom-wrap ol,
.ccm-page .c5h-footer-bottom-wrap blockquote {
  color: #222222;
}
.ccm-page .c5h-footer-bottom-wrap a {
  color: #004A9A;
}
.ccm-page .c5h-footer-bottom-wrap a:hover {
  color: #0063cd;
}
.ccm-page i.fa, .ccm-page i.fab, .ccm-page i.fas, .ccm-page i.far {
  font-style: normal;
}
.ccm-page .c5h-search-bar input[type=submit] {
  background: none;
  border: none;
  width: 100%;
  height: 100%;
  border-radius: 0;
}
.ccm-page .c5h-search-bar .postfix {
  background: #008cba;
  color: #FFFFFF;
  border: #008cba;
}
.ccm-page .c5h-search-bar input[type=submit]:hover {
  border: #007095;
}
.ccm-page .c5h-search-bar .postfix:hover {
  background: #007095;
  border: #007095;
}
.ccm-page .c5h-page-list-masonry-content-inner {
  background-color: #dee3e6;
}
.ccm-block-page-list-page-entry-grid-thumbnail img,
.ccm-block-page-list-page-entry-thumbnail img {
  max-width: 300px;
}
/* layout Fix */
@media only screen and (max-width: 40em) {
  .ccm-layout-column {
    width: 100%!important;
    margin-bottom: 20px!important;
  }
}
/* Conversation font fix */
.ccm-conversation-wrapper .redactor_toolbar li a,
.ccm-conversation-wrapper .redactor-toolbar li a {
  font-family: "Font Awesome 5 Free";
  font-weight: 600;
}
div.ccm-page.c5h-boxed {
  max-width: 73.125rem;
  margin: 0 auto;
}
/* Redactor textarea fix */
.ccm-page div.redactor-box textarea {
  background-color: #222;
  border: medium none;
  box-shadow: none;
  color: #ccc;
  font-family: Menlo, Monaco, monospace, sans-serif;
  font-size: 13px;
  margin: 0;
  outline: medium none;
  overflow: auto;
  padding: 0;
  position: relative;
  resize: none;
  width: 100%;
}
div.c5h-clear {
  clear: both;
}
.c5h-sticky-footer {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}
.c5h-sticky-footer-content {
  flex: 1;
}
.c5h-img-grey img {
  -webkit-filter: grayscale(100%);
  -moz-filter: grayscale(100%);
  -o-filter: grayscale(100%);
  -ms-filter: grayscale(100%);
  filter: grayscale(100%);
}
.c5h-img-grey-hover img:hover {
  -webkit-filter: grayscale(100%);
  -moz-filter: grayscale(100%);
  -o-filter: grayscale(100%);
  -ms-filter: grayscale(100%);
  filter: grayscale(100%);
}
.c5h-img-sepia img {
  -webkit-filter: sepia(100%);
  -moz-filter: sepia(100%);
  -o-filter: sepia(100%);
  -ms-filter: sepia(100%);
  filter: sepia(100%);
}
.c5h-img-sepia-hover img:hover {
  -webkit-filter: sepia(100%);
  -moz-filter: sepia(100%);
  -o-filter: sepia(100%);
  -ms-filter: sepia(100%);
  filter: sepia(100%);
}
.c5h-img-round img {
  -webkit-border-radius: 1000px;
  -moz-border-radius: 1000px;
  -o-border-radius: 1000px;
  -ms-border-radius: 1000px;
  border-radius: 1000px;
}
.c5h-img-radius img {
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -o-border-radius: 3px;
  -ms-border-radius: 3px;
  border-radius: 3px;
}
div.c5h-slick-slider-content {
  max-width: 73.125rem;
}
/* Filters */
/* Coming Soon */
/*# sourceMappingURL=main.css.map */